<h1>People#index</h1>
<h1>All People</h1>
<ul>
  <% @people.each do |p| %>
      <li>
        <%= link_to h(p.full_name), edit_person_path(p) %><br />
      </li>
  <% end %>
</ul>
<%= link_to "New Person", new_person_path %>
